<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPak</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h2>SmartPak</h2>
    </header>
    <nav>
        <ul>
            <li><a>Home</a></li>
            <li><a href="/myparking">My Parking</a></li>
            <li><a href="/profile">Profile</a></li>
            <!--li><a href="/payment">Payment</a></li>
            <li><a href="/bookparking">Book Parking</a></li>-->
        </ul>
    </nav>
    <main>
        <p>Park Smart...</p>
        <p>Park Easy...</p>
        <p>Enjoy Parking...</p>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
